
 @import "bootstrap";

 .nav-item {
   padding-right: 15px;
 }

 .container-fluid {
   padding-top: 15px;
 }

 .btn-custom {
   background-color: #007bff;
   color: #fff;
 }

 #errors {
   font-size: 0.5rem;
   list-style-type: none;
 }
